<% provide(:title, 'About Us') %>

<div class="row">
    <aside class="span3">

      <%= render 'shared/standard_left_bar' %>

    </aside>

    <div class="span9">
      <div class="hero-unit">
		    <h1>About Us</h1><br>
		    <p>
		      Agree the People is a web-based issue discussion platform that breaks the inherent assumptions of current modalities that all things are two sided. 
		    </p>
		 </div>
	</div>
</div>