<% provide(:title, 'About Us') %>
		<h1>About Us</h1><br>
	    <h3>
	      Agree the People breaks the inherent assumptions of current discussion methods that all issues are two sided. The internet allows many people to debate each other simultaneously, but no current methods facilitate that opportunity in an intelligent way. Debate doesn't scale, but agreement does. For more on all of these musings, check out the blog. 
	    </h3><br><br><br>

	    <table>
	    	<tr>
	    		<td width=25%>
	    			<h2>Alex Gessner</h2>
	    			<img src="http://m4.licdn.com/media/p/3/000/07a/145/3488d99.jpg">
	    		</td>
	    		<td>
	    			<p>I'm really interested in data modeling and predictive analytics in novel spaces. I'm a politics and new junky who loves programming in R, Ruby on Rails, and Objective-C for iOS. I just finished an MS in Systems Engineering at University of Virginia where I built an end-to-end transmission application and prediction engine for EMTs in the Charlottesville area. Check out all my musings on Twitter and my agreements here: @xgess.</p>
	    		</td>
	    	</tr>
	    </table>
	    <br><br><br>
	    <table>
	    	<tr>
	    		<td width=25%>
	    			<h2>Vanessa Hurst</h2>
	    			<img src="http://m4.licdn.com/media/p/3/000/03e/0ce/1ffb27c.jpg">
	    		</td>
	    		<td>
	    			<p>Vanessa's self description forthcoming </p>
	    		</td>
	    	</tr>
	    </table>
	    <br><br><br><p></p>


	    <table>
	    	<tr>
	    		<td width=25%>
	    			<h2>Emily Hahn</h2>
	    			<img src="http://m3.licdn.com/media/p/4/000/174/150/203c674.jpg">
	    		</td>
	    		<td>
	    			<p>Emily's self description forthcoming</p>
	    		</td>
	    	</tr>
	    </table>
	    <br><br><br><p></p>



