<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>
      Agree the People is a web-based issue discussion platform that breaks the inherent assumptions of current modalities that all things are two sided. 
    </p>
 