<% provide(:title, 'Blog') %>

<h1>The Agreement Manifesto</h1>

<h3>Debate Does Not Scale But Agreement Does</h3>
<section>
<p>
	Debate is way too linear, and the problem scales with number of people and issue complexity. For example, 3 people sitting at a table would have no trouble reaching perfect, mutual understanding about whether or not orange is the new pink. On the other hand, 10,000 people in a stadium, even if they are extremely well-informed and exceptionally polite, cannot discuss a nuanced foreign policy agenda. In fact, several hundred United States Congressional Representatives seem to be having a harder and harder time agreeing on anything these days. Debate as a method of discourse is not democratizing at the scale of our population or the complexity of our pressing national issues. 
</p>

<p>Debate is inherently dichotomous. Disagreement is extremely difficult to do well, especially on the internet: 
	<%= link_to "http://www.paulgraham.com/disagree.html", "http://www.paulgraham.com/disagree.html" %>. Expressing disagreement with what someone else has said does not necessarily mean you believe the exact opposite. In fact, several people may disagree with the same statement as well as with each other! As human beings, it is important to recognize our limitations. There are a slew of cognitive biases that make debating complex issues difficult for us. The <%= link_to "Out-Group Homogeneity Bias", "http://en.wikipedia.org/wiki/Outgroup_homogeneity_bias" %> is why we perceive other groups to be more homogenous than our own group. In other words, we tend to see people who disagree with us as being one unified team rather than potentially several diverse groups that have little in common with each other. It is this bias that is sometimes blamed for memes like racial stereotypes. 
</p>

<p>
	Networking and internet technologies have the potential to allow real-time discourse and analysis that is unique to and functional for each participant regardless of the number of participants! Everyone should be able to build a stance, contribute to and pull from similar participants, and learn from very different participants (who may also be different from one-another). Customized visualizations would facilitate that process.
</p>
<p>
	AgreeThePeople is this technology. We are embracing a more modern approach to discourse: structuring it in a way that makes clustering analysis fast, effective, and interpretable. We will tease out sets of people who hold similar agreements and visualize them. These groupings can facilitate intra- and inter-group education as well as targeted advocacy. 
</p>
</section>
