<% provide(:title, 'Contact') %>

<div class="row">
    <aside class="span3">

      <%= render 'shared/standard_left_bar' %>

    </aside>

    <div class="span9">
      <div class="hero-unit">
		    <h1>Contact</h1><br>
		    <p>
		      Seriously, we're interested in any thoughts or ideas or suggestions you have. We can be reached <a href="mailto:alex@agreethepeople.com">here</a>.
		    </p>
		 </div>
	</div>
</div>