<% provide(:title, 'Contact') %>
      <div class="hero-unit">
		    <h1>Contact</h1><br>
		    <p>
		      Seriously, we're interested in any thoughts or ideas or suggestions you have. We can be reached <a href="mailto:contact@agreethepeople.com">here</a>.
		    </p>
		 </div>
