      <div class="hero-unit">
     <h1>Agree the People</h1><br>
     
		<TABLE>
	     	<tr>
	     		<td style="vertical-align:top">
				    <font color="#aaaaaa" size=5>
				     	Respond to Agreements <br>
				     	Build your Stances <br>
				     	Influence the Discussion<br>
				     	See your Impact
				   	</font>
				</td>
				<td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</td>
				<td cellpadding="100">
					<%= render @topics %><br>
						<a href="mailto:alex@agreethepeople.com?subject=ATP New Topic Request&amp;body=New Topic Request:_______________.">Suggest a new topic</a>
				</td>
			</tr>
		</table>

	</div>

