      <div class="hero-unit">
     <h1>Agree the People</h1><br>
     
		<TABLE>
	     	<tr>
	     		<td style="vertical-align:top" width=55%>
				    <font color="#aaaaaa" size=5>
				     	Respond to Agreements <br>
				     	Build your Stances <br>
				     	Influence the Discussion<br>
				     	See your Impact
				   	</font>
				</td>

				<td cellpadding="100">
					<%= render @topics %>
				</td>
			</tr>
		</table>

	</div>

