      <div class="hero-unit">
        <h1>Agree the People</h1> <br><br>

    	<%= render @topics %><br>
		<a href="mailto:alex@agreethepeople.com?subject=ATP New Topic Request&amp;body=New Topic Request:_______________.">Suggest a new topic</a>
	</div>

