
<div class="row">
    <aside class="span3">

      <%= render 'shared/topic_left_bar' %>

    </aside>




    <div class="span9">

        <h1><%= @topic.title %></h1>
      <div class="hero-unit">
        <h2>There is not enough data yet for a meaningful analysis or any of the cool visualizations we have planned. Check back soon.</h2>


      </div>



    </div>
</div>
