
        <h1><%= @topic.title %></h1>
      <div class="hero-unit">
        <h2>
        	There's not quite enough data yet for all of the amazing stuff we have planned. Seriously, check back soon.

        </h2>
    </div>