<% provide(:title, 'All Topics') %>
		<h1>All Topics</h1>
		
		<%= will_paginate %>

		<ul class="topics">
			<%= render @topics %>
		</ul>

		<%= will_paginate %>

		<a href="mailto:alex@agreethepeople.com?subject=ATP New Topic Request&amp;body=New Topic Request:_______________.">Suggest a new topic</a>