<% provide(:title, 'All Topics') %>
<div class="row">
	
		<h1>All Topics</h1>
		

			<%= will_paginate %>

			<ul class="topics">
				<%= render @topics %>
			</ul>

			<%= will_paginate %>


<br><br>

<div class="span4">
	<%= render 'shared/suggest_a_topic' %>
</div>


</div>
