<% provide(:title, 'All Topics') %>
		<h1>All Topics</h1>
		
<div class="row">
		<div class="span4">

			<%= will_paginate %>

			<ul class="topics">
				<%= render @topics %>
			</ul>

			<%= will_paginate %>

		</div>


		<div class="span4">


			<%= render 'shared/suggest_a_topic' %>

		</div>
</div>



