 <div class="row">
    <aside class="span3">
      <section>


			<% if signed_in? %>

			  <%= render 'shared/home_logged_in' %>

			<% else %>

			  <%= render 'shared/home_not_logged_in' %>

			<% end %> 


      </section>
      <section>
            this is just a line of filler
      </section>
      <section>
            this is another line of filler
      </section>

      <h2><p align=right>Agreements > </p></h2>
      <h2><p align=right>Analysis</p></h2>

    </aside>




    <div class="span9">
      <div class="hero-unit">
        <h1><%= @topic.title %></h1> <br><br>
    	<h2>
    		this is where the agreements will come in a little while
    	</h2>

    </div>
</div>




