 <div class="row">
    <aside class="span3">
      <section>


			<% if signed_in? %>

			  <%= render 'shared/home_logged_in' %>

			<% else %>

			  <%= render 'shared/home_not_logged_in' %>

			<% end %> 


      </section>
      <section>
            this is just a line of filler
      </section>
      <section>
            this is another line of filler
      </section>

      <h2><p align=right>Agreements > </p></h2>
      <h2><p align=right>Analysis</p></h2>

    </aside>




    <div class="span9">


      <%= render 'shared/agreement_box' %>


      <% if signed_in? %>
      
      <%= render 'shared/post_agreement' %>


      <% end %>

    </div>
</div>




