
<ul class="agreements">

	<% @authored_agreements["#{@this_topic.slug}"].each do |agree| %>
		<li>
			<%= link_to agree.content, "/#{agree.topic.slug}?agreement=#{agree.id}" %> 

			<br>
		</li>

	<% end %>
	
</ul>

