<% provide(:title, 'All users') %>

<div class="row">
    <aside class="span3">

      <%= render 'shared/standard_left_bar' %>

    </aside>




    <div class="span9">

        <h1>All users</h1>

        <%= will_paginate %>

        <ul class="users">
          <%= render @users %>
        </ul>

        <%= will_paginate %>

    </div>


</div>


