<% provide(:title, 'Signup Page') %>

THIS PAGE SHOULD NOT SHOW UP


        <h1>Sign up</h1>

	    <%= form_for(@user) do |f| %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
	    <% end %>
