        <h3><div id="new_agreement2">
	        <% if @agreement.user.nil? %>
	        	That Author was removed for some reason.
	        <% else %>
	        	<%= link_to @agreement.user.name, user_path(@agreement.user) %>
	        <% end %>
    	</div></h3>
    	<br>
        <h2><div id="new_agreement3"><%= @agreement.content %></div></h2>


