  <div class="row">
    <aside class="span3">
      <section>
            We really want you to log in or sign up!
            <p>
            	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
        	</p>
      </section>
      <section>
            this is just a line of filler
      </section>
      <section>
            this is another line of filler
      </section>
    </aside>




    <div class="span9">
      <div class="hero-unit">
        <h1>Agree the People</h1> <br><br>
    	<h2>All the Issues! </h2>
    	<%= render 'shared/feed' %>
    </div>
  </div>










