<% string_to_tweet = @agreement.content %>
<% url = short_link_for_agreement(@agreement) %>
<% (string_to_tweet = string_to_tweet.slice(0..118) + "...") if string_to_tweet.length > 122 %>
<% string_to_tweet = '"'+string_to_tweet+'"'%>

<a href="https://twitter.com/share" class="twitter-share-button" 
    data-lang="en" data-size="large" data-count="" 
    data-text="<%=string_to_tweet%>" data-url="<%= url %>" url="">
    Tweet It!
</a>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<script>
	$.getScript('//platform.twitter.com/widgets.js', function(){
		//calling method load
		twttr.widgets.load();
	});
</script>


